.comment {
    width: 800px;
    height: 780px;
    margin: 0 auto;
}

#input {
    width: 600px;
    height: 52px;
    font-size: 16px;
    border: 1px solid #d8d8d8;
}

.comment>img {
    width: 70px;
    height: 70px;
    vertical-align: middle;
}

.word {
    padding-top: 30px;
    font-size: 26px;
}

.number {
    font-size: 18px;
    color: #9b9b9b;
    padding-left: 10px;
}

.head-sculpture {
    float: left;
}

.display {
    padding-top: 20px;
    display: flex;
}

.comment-name {
    padding-top: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.comment-time {
    padding-top: 6px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #999;
}

.comment-content {
    font-size: 16px;
    color: #666;
    line-height: 26px;
    word-wrap: break-word;
    word-break: break-all;
}

.comment-img {
    width: 62px;
    height: 29px;
    margin-left: 450px;
}

.like-img {
    width: 40px;
    height: 20px;
    margin-left: 25px;
    margin-bottom: 3.9px;
}

.comment hr {
    color: #EEEEEE;
    width: 600px;
}

.comment p {
    font-size: 14px;
    color: #999;
    height: 68px;
    line-height: 68px;
    text-align: center;
    cursor: pointer;
}